@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav {
    position: fixed;
    color: white;
    text-align: right;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin-right: 20px;
}

.nav-bar li a {
    text-decoration: none;
    color: inherit;
}

canvas {
    display: block;
    background-color: black;
    z-index: -1;
    position: fixed;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#intro {
    opacity: 100;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}
